* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ffffff; /* Branco */ 
}

#logo {
    width: 13em; /* Reduzindo o tamanho da logo */
    height: auto; /* Permitindo que a altura seja ajustada proporcionalmente */
    margin-right: 1em; /* Adicionando margem à direita para separar a logo dos outros elementos */
}

h2 {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em; /* Ajuste conforme necessário para separar a logo do título */
}

form {
    max-width: 60rem;
    backdrop-filter: blur(.7em);
}

#form-cadastro {
    background-color: #f2f2f2; /* Tom de branco 3D */
    padding: 20px;
    border-radius: 15px;
    color: #333333;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra para efeito 3D */

}

input[type=radio] {
    accent-color: #000000;
}

main {
    display: flex;
    justify-content: center;
}

.grid-column-2 {
    gap: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-column-3 {
    gap: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

button {
    background-color: black !important;
    border: none !important;
}
