body{
    background-image: url('/img/fundo_cadastro.png');
}



#logo {
    width: 13em; /* Reduzindo o tamanho da logo */
    height: auto; /* Permitindo que a altura seja ajustada proporcionalmente */
    margin-right: 1em; /* Adicionando margem à direita para separar a logo dos outros elementos */
}

h2 {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em; /* Ajuste conforme necessário para separar a logo do título */
}

#form-cadastro {
    background-color: rgba(128, 128, 128, 0.699);
    padding: 20px;
    border-radius: 15px;
    color: aliceblue;
}

form {
    max-width: 60rem;
    backdrop-filter: blur(.7em);
}

input[type=radio] {
    accent-color: #000000;
}

main {
    display: flex;
    justify-content: center;
}

.grid-column-2 {
    gap: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-column-3 {
    gap: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

button {
    background-color: black !important;
    border: none !important;
}


