<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('../partials/head') %>
    <title>Cadastrar Admin - UserSync Academy</title>
    <link rel="shortcut icon" href="/img/cadastro-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/cadastro-admin.css">
</head>

<body>
    <header class="position-sticky top-0 z-3">
        <%- include('../partials/navbar') %>
    </header>

    <main>
        <div class="box">
            <h1>Cadastrar Admin</h1>
            <div>
                <form autocomplete="off" id="form-cadastro" novalidate>
                    <div class="mb-3">
                        <label for="username" class="form-label">Nome de usuário *</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Usuário Nome" aria-describedby="username-error">
                        <div id="username-error" class="invalid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail *</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="email@gmail.com" aria-describedby="email-error">
                        <div id="email-error" class="invalid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Senha *</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="senha" aria-describedby="password-error">
                        <div id="password-error" class="invalid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="password-confirm" class="form-label">Confirme a Senha *</label>
                        <input type="password" class="form-control" id="password-confirm" name="password-confirm" placeholder="confirmando a senha" aria-describedby="password-confirm-error">
                        <div id="password-confirm-error" class="invalid-feedback"></div>
                    </div>
                    <div class="d-grid mt-3">
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <script src="/js/cadastro-admin.js"></script>
</body>
</html>
