<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('../partials/head') %>
    <title>Homepage - UserSync Academy</title>
    <link rel="shortcut icon" href="/img/home-icon.png" type="image/x-icon">
</head>
<body>
    <header>
        <%- include('../partials/navbar') %>
    </header>

    <main>
        <section class="mb-5">
            <h2 id="saudacao">Saudações</h2>
            <hr>
            <p>Estamos empolgados em tê-lo aqui e fazer parte da sua jornada educacional. Nosso objetivo é facilitar e otimizar a experiência de gestão acadêmica, proporcionando uma plataforma intuitiva e eficiente para os administradores.</p>
            <p>No nosso site, você encontrará uma série de ferramentas e recursos projetados para simplificar a organização de suas atividades acadêmicas. Desde o acompanhamento de notas e presenças até a gestão de alunos, tudo foi pensado para tornar a administração escolar mais prática e acessível.</p>
            <p>Explore todas as funcionalidades que oferecemos e descubra como podemos ajudá-lo a alcançar seus objetivos acadêmicos. Nossa equipe está sempre à disposição para oferecer suporte e responder a qualquer dúvida que você possa ter.</p>
            <p>Agradecemos por escolher nosso portal e desejamos muito sucesso em sua trajetória educacional!</p>
            <p>Atenciosamente,<br>Equipe UserSync</p>
        </section>
        <section>
            <h2 id="contato">Contato</h2>
            <hr>
            <p>Estamos aqui para ajudar! Se você tiver qualquer pergunta, sugestão ou necessitar de suporte técnico, não hesite em entrar em contato conosco pelos seguintes canais:</p>
            <ul>
                <li>E-mail: suporte@usersync.com</li>
                <li>Telefone: (82) 91234-5678</li>
                <li>Endereço: Rua da Educação, 123, Bairro Acadêmico, Cidade do Conhecimento, CEP 12345-678</li>
            </ul>
            <p>Nosso horário de atendimento é de segunda a sexta, das 9h às 18h. Estamos comprometidos em oferecer um atendimento rápido e eficaz para garantir que você tenha a melhor experiência possível com nosso portal.</p>
        </section>
    </main>
</body>
</html>
