<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="/css/login.css">
</head>
<body>
	<div class="box">
		<form autocomplete="off">
			<h2>Login</h2>
			<div class="inputBox">
				<input type="text" required="required">
				<span>Email</span>
				<i></i>
			</div>
			<div class="inputBox">
				<input type="password" required="required">
				<span>Senha</span>
				<i></i>
			</div>
			<div class="links">
				<a href="#">Esqueceu a senha?</a>
				<a href="#">Cadastro</a>
			</div>
			<input type="submit" value="Login" id="login">
		</form>
	</div>
</body>
</html>