<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Login - UserSync Academy</title>
    <link rel="shortcut icon" href="/img/icon-newLogin.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap">
</head>
<body>
    <div class="container">
        <div class="box">
            <form autocomplete="off">
                <h2>Login</h2>
                <div class="inputBox">
                    <input type="text" required="required">
                    <span>Email</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="password" required="required">
                    <span>Senha</span>
                    <i></i>
                </div>
                <div class="links">
                    <a href="#">Esqueceu a senha?</a>
                </div>
                <input type="submit" value="Login" id="login">
            </form>
        </div>
    </div>
</body>
</html>
